/**
 * @file GridLines component styles.
 */

.gridLines {
  position: absolute;
  top: var(--header-row-height);
  left: var(--header-column-width);
  pointer-events: none;
  z-index: var(--z-index-cell);
}

.gridLine {
  stroke: var(--color-border-secondary);
  stroke-width: var(--border-width);
  shape-rendering: crispEdges;
}
