/**
 * @file GridLines component styles.
 */

.gridLines {
  position: absolute;
  top: 24px;
  left: 48px;
  pointer-events: none;
  z-index: 1;
}

.gridLine {
  stroke: #e0e0e0;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
