/**
 * @file SpreadSheet component styles.
 */

.spreadsheet {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  flex: 1;
  overflow: hidden;
}

.sheetContent {
  flex: 1;
  overflow: hidden;
}
